<div class="certificate-component">
<div class="certificate-container">
    
    <div class="certificate-content">
        
        <div class="title-header">
            <h1><span class="up">Greenpeace</span></br>Peace of Oceans</h1>
        </div>

        <div class="certificate-header">
            <div class="icon">
                <img class="icon" src="img/buoy.png" />
            </div>
            <div class="certificate-title">
                <h2>Certificat d’adoption</h2>
            </div>
        </div>

        <div class="certificate-infos">
            <p class="user-name">Fabio</p> 
            <p class="location">5.929879, -43.009276</p> 
        </div>

        <div class="map">
            <img src="img/amazon-reef-map.png" />
        </div>

        <div class="input-container submit">
            <div id="share" class="submit-btn share">Partager</div>
        </div>

        <div class="input-container submit">
            <a id="next" href='/amazon' class="submit-btn next">Suivant</a>
        </div>

        
    </div>

</div>
</div>