<div id="more-ocean" class="more-ocean">
    
    {% include 'components/_header_more.html.twig' with { data : data.header }%}

    <div id="more-ocean-content" class="more-ocean-content">
        <div class="content-more">
            <h2 class="title">Zones à protéger</h2>
            <div class="animals-container">
                {% for animal in data.locals %}
                    {% include 'components/_animal_more.html.twig' with { width : animal.width, local : animal.local, open : animal.open, icon : animal.icon }%} 
                {% endfor %}
            </div>
            <div class="close-container">
                <div id="close-more" class="close btn title">Fermer</div>
            </div>
        </div>

    </div>
</div>