<div id="more-ocean" class="more-ocean">
    <div class="more-ocean-header">
        <div class="logo-more">
            <div class="amazon-reef">
                <img alt="carte" src="img/amazon_reef.png" />
            </div>
            <div class="amazon-reef-text title">Amazon Reef</div>
        </div>
        <div class="infos-more">
            <div class="info info-01">
                <div class="number">1/6</div>
                <div class="text">Zone</br>débloquées</div>
            </div>
            <div class="info info-02">
                <div class="number">30%</div>
                <div class="text">Amazon</br>Reef</div>
            </div>
            <div class="info info-03">
                <div class="number">05</div>
                <div class="text">Partage</br>Restants</div>
            </div>
        </div>
    </div>
    <div class="more-ocean-content close"></div>
</div>