<header>
    <div class="content-header">
        <div class="title-header">
            <h1><span class="up">Greenpeace</span></br>Peace of Oceans</h1>
        </div>
        <div class="action-header">
            <img class="icon" src="img/icons/menu.png" />
        </div>
    </div>
</header>