<header>
    <div class="content-header">
        <div class="title-header">
            <h1><span class="up">Greenpeace</span></br>Peace of Oceans</h1>
        </div>
        <div class="action-header">
            <div class="icon"></div>
        </div>
    </div>
</header>