* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

@font-face {
  font-family: 'SanctuaryLC';
  src: url("../../fonts/SanctuaryLC-Regular.otf") format("truetype");
  font-weight: bold; }

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'SanctuaryLC', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 18px;
}

.title {
    font-family: 'SanctuaryLC', sans-serif;
    text-transform: uppercase;
}

h1 .up {
    font-size: 14px;
}


header {
    position: fixed;
    width: 100%;
    background: linear-gradient(180deg, #06334C 24.63%, rgba(6, 51, 76, 0) 100%);
}

header .content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}

header .content-header .title-header {
    color: #FFFFFF;
}

/*---- Ocean Page -----*/
.ocean-page {
    height: 100vh;
    background: url('../../img/bg/background-ocean.png') center center no-repeat;
    background-size: cover; 
    
}

.ocean-page .spinner-container {
    border: 1px solid green;
    height: 100vh;
}

.ocean-page .spinner-container .spinner {
    background-color: #FFF;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
}

.ocean-page .spinner-container .spinner:after {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #FFF;
    position: absolute;
    left: -5px;
    top: -5px;
}

#spinner-01 {
    transform: translate(200px, 270px);
}
#spinner-02 {
    transform: translate(200px, 380px);
}
#spinner-03 {
    transform: translate(25px, 25px);
}

/* --- MORE INFOS Component ---- */
.more-ocean {
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 0 10px;

    background: linear-gradient(360deg, #073A57 40.71%, #1676AC 96.86%);
}

.more-ocean .amazon-reef {
    border-radius: 50%;
    padding: 10px;
    transform: translateY(-30px);
    text-align: center;
    background: linear-gradient(360deg, transparent 40%, #1676AC 60%)
}

.more-ocean .amazon-reef-text {
    color: #FFFFFF;
    text-transform: uppercase;
    transform: translateY(-25px);
}

.more-ocean .more-ocean-header .logo-more { 
    position: relative; 
    cursor: pointer;
}

.more-ocean .more-ocean-header .open-icon {
    position: absolute;
    right: -25px;
    bottom: 25px;
    width: 20px;
}

.more-ocean .more-ocean-header {
    display: flex;
    justify-content: space-between;

}

.more-ocean .infos-more .info {
    display: inline-block;
    text-align: center;
    margin-top: 5px;
    padding: 0 10px;
}

.more-ocean .infos-more .info-01, 
.more-ocean .infos-more .info-02 {
    border-right: 1px solid white;
}

.more-ocean .infos-more .info .number {
    font-family: 'SanctuaryLC', sans-serif;
    font-size: 20px;
    color: #FFF;
}

.more-ocean .infos-more .info .text {
    font-size: 14px;
    color: #C6C6C6;
}

.more-ocean .more-ocean-content {
    height: 0;
    transition: all ease .8s;
}
.more-ocean .more-ocean-content .content-more {
    display: none;
}

.more-ocean .more-ocean-content.open {
    height: 70vh;
}
.more-ocean .more-ocean-content.open .content-more {
    display: block;
}

.more-ocean .more-ocean-content .content-more h2 {
    margin-top: 25px;
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
}

.animals-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
}

.animals-container .animal {
    display: inline-block;
    text-align: center;
    filter: grayscale(100%);
    margin-top: 25px;
    opacity: .7;
}

.animals-container .animal.active {
    filter: none;
    opacity: 1;
}

.animals-container .animal .bar {
    background-color: #FFF;
    height: 8px;
    border-radius: 4px;
    position: relative;
    margin-top: 10px;
}

.animals-container .animal .icon-animal {
    position: relative;
}

.animals-container .animal .icon-animal .lock {
    position: absolute;
    bottom: 0;
    right: 25%;
}

.animals-container .animal .bar .load {
    position: absolute;
    display: inline-block;
    height: 8px;
    left: 0;
    border-radius: 4px;
    
    background: rgba(245,147,115,1);
    background: -moz-linear-gradient(45deg, rgba(245,147,115,1) 0%, rgba(231,95,52,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(245,147,115,1)), color-stop(100%, rgba(231,95,52,1)));
    background: -webkit-linear-gradient(45deg, rgba(245,147,115,1) 0%, rgba(231,95,52,1) 100%);
    background: -o-linear-gradient(45deg, rgba(245,147,115,1) 0%, rgba(231,95,52,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(245,147,115,1) 0%, rgba(231,95,52,1) 100%);
    background: linear-gradient(45deg, rgba(245,147,115,1) 0%, rgba(231,95,52,1) 100%);
}

.animals-container .animal p {
    color: #FFFFFF;
    margin-top: 10px;
}

.more-ocean .more-ocean-content .close-container {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    padding: 0 15px;
    text-align: right;
}

.more-ocean .more-ocean-content .close-container .btn {
    border: 1px solid #000;
    background-color: #FFF;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}






footer {
    border: 1px solid blue; 
  }
  
  
  
  /* ------- UI -------- */
  
  .map-world-menu {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
  }
  .petiton-action {
      position: absolute;
      bottom: 25%;
      left: 5%;
      text-align: center;
  }
  .petiton-action .petition-text {
      color: #FFFFFF;
      text-transform: uppercase;
  }

.popin-info-animal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);
}

.popin-info-animal.open {
    display: flex;
}

.popin-info-animal .component-popin {
    padding: 0 10%;
}

.popin-info-animal .component-popin .popin{
    background-color: #fff;
    border: 2px solid #000;
    padding: 10px;
}

.popin-info-animal .component-popin .popin p {
    color: #000;
    margin-top: 10px;
}

.popin-info-animal .component-popin .popin .cta {
    margin-top: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    display: inline-block;
    padding: 3px 10px;
    cursor: pointer;
}