<div id="map-world-menu" class="map-world-menu">
    <div id="open-map" class="map-world-icon">
        <img alt="carte" src="img/map-menu.png" />
    </div>
    <div class="map-world-content">
        <div id="open-view" class="view-icon-back">
            <img alt="carte" src="img/view-menu.png" />
        </div>
        <div class="map-image">
            <img alt="carte" src="img/map.jpg" />
        </div>
    </div>
</div>