<div class="petiton-action">
    <div class="petition-content">
        <div class="petition-icon">
            <img alt="carte" src="img/petition.png" />
        </div>
        <div class="petition-text">
            <img alt="carte" src="img/icons/share.png" />
            <span class="title">Pétition</span>
        </div>
    </div>
</div>