<div class="component-popin">
    <div class="popin">
        <div class="content">
            <h3 class='title'>{{ title }}</h3>
            <p>{{ text }}</p>
            <div class="cta title">{{ btn }}</div>
        </div>
    </div>
</div>